* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 800px;
  margin: 0 auto;
  flex-grow: 1;
  margin-top: 50px;
  position: relative;
  background-color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  justify-content: space-around;
  flex-grow: 1;
  height: 400px;
}

.title {
  font-family: sans-serif;
  /* text-align: center; */
  margin-left: 40px;
  margin-top: 20px;
}

img {
  width: 400px;
  height: 450px;
}
.button {
  width: 40px;
  background-color: #415c3d;
  cursor: pointer;
  border: none;
  color: #fbc1b5;
  width: 190px;
  height: 40px;
  position: absolute;
  bottom: -20px;
  right: 100px;
  font-size: 16px;
}
label {
  display: block;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
}
.modal {
  /* border: 1px solid #415c3d; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  text-align: center;
}
.error {
  color: rgb(182, 28, 28);
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.inputs {
  margin-left: 40px;
}
.input {
  height: 25px;
  border: 1px solid #ccc;
  width: 250px;
  margin-top: 2px;
  background-color: #fdf4f3;
}
